{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    rel="stylesheet"
  />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="{% static 'styles.css' %}" />
    <link rel="icon" href="{% static 'images/logo.png' %}" type="image/x-icon" />
    <title>{% block title %}We Need To Cook{% endblock %}</title>
  </head>
  <body class="page-container">
    <header class="main-header">
      <div class="header-content">
        <a href="{% url 'index' %}"><img
          src="{% static 'images/logo_transparent.png' %}"
          alt="Logo"
          width="70"
          height="70"
          class="logo"
        /></a>
        <h1 class="main-header-title comfortaa">We Need To Cook!</h1>
      </div>
    </header>
    <nav class="navbar comfortaa">
      <ul>
        <li><a href="{% url 'index' %}">Home</a></li>
        <li><a href="{% url 'recipes' %}">Recipes</a></li>
        {% if user.is_authenticated %}
        <li class="dropdown">
          <a href="#" class="dropbtn">Profile</a>
          <div class="dropdown-content">
            <a href="{% url 'meal_plan' %}">Meal Planner</a>
            <a href="{% url 'reviews' %}">Reviews</a>
            <a href="{% url 'favorites' %}">Favorites</a>
            <form method="POST" action="{% url 'logout' %}">
              {% csrf_token %}
              <button type="submit" class="dropdown-logout">Logout {{ user }}</button>
            </form>
          </div>
        </li>
        {% else %}
        <li><a href="{% url 'login' %}?next={{ request.path }}">Login</a></li>
        {% endif %}
      </ul>
    </nav>
    <main class="comfortaa">{% block content %}{% endblock %}</main>

    <footer>
      <div class="navbar navbar-inverse navbar-static-bottom" role="navigation">
        <div class="navbar-text pull-left">Created by Group 1 - Oct 2024</div>
        <div class="navbar-text pull-right">
          <a
            href="https://github.com/UCCS-CS4300-5300/Group1-fall2024"
            class="github-icon"
            target="_blank"
          >
            <i class="fab fa-github-square fa-2x"></i>
          </a>
        </div>
      </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>