{% extends "cookapp/base.html" %}
{% load static %}

{% block content %}
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />

<main>
    <section class="search-section">
        {% if messages %}
        <div class="messages">
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endfor %}
        </div>
        {% endif %}
        <div class="container d-flex flex-column align-items-center">
            <div class="row justify-content-center w-100">
                <div class="col-md-8">
                    <h3 class="text-center mb-4">Recipe Finder</h3>
                    <form id="search-form" class="justify-content-center">
                        <!-- Quick Add Section -->
                        <div class="ingredients-section mb-4">
                            <div class="d-flex justify-content-between align-items-center mb-2">
                                <h5 class="text-left mb-0">Quick Add:</h5>
                                <div class="mode-toggle d-flex align-items-center">
                                    <span class="toggle-label me-2">Include</span>
                                    <div class="custom-control custom-switch">
                                        <input type="checkbox" class="custom-control-input" id="quick-add-mode" checked>
                                        <label class="custom-control-label" for="quick-add-mode"></label>
                                    </div>
                                    <span class="toggle-label ms-2">Exclude</span>
                                </div>
                            </div>
                            <div id="common-ingredients" class="w-100">
                                {% for ingredient in common_ingredients %}
                                <button class="btn btn-sm btn-outline-secondary mr-2 mb-2 common-ingredient-btn" 
                                        data-ingredient="{{ ingredient.name }}">
                                    {{ ingredient.name }}
                                </button>
                                {% endfor %}
                            </div>
                        </div>

                        <!-- Whitelist Section -->
                        <div class="ingredients-section mb-4">
                            <h5 class="text-left">Included Ingredients:</h5>
                            <div id="whitelist-container" class="w-100 mb-3">
                                <!-- Whitelist tags will be added here -->
                            </div>
                            <div class="input-group mb-3 w-100">
                                <input type="text" id="new-whitelist-input" class="form-control" placeholder="Include an ingredient">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-success" type="button" id="add-whitelist">Add</button>
                                </div>
                            </div>
                        </div>

                        <!-- Blacklist Section -->
                        <div class="ingredients-section mb-4">
                            <h5 class="text-left">Excluded Ingredients:</h5>
                            <div id="blacklist-container" class="w-100 mb-3">
                                <!-- Blacklist tags will be added here -->
                            </div>
                            <div class="input-group mb-3 w-100">
                                <input type="text" id="new-blacklist-input" class="form-control" placeholder="Exclude an ingredient">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-danger" type="button" id="add-blacklist">Add</button>
                                </div>
                            </div>
                        </div>

                        <!-- Find Recipes Button -->
                        <button type="button" id="find-recipes-button" class="btn btn-primary mb-4">Find Recipes</button>

                        <!-- OR Label -->
                        <div class="text-center mb-3">
                            <span class="text-muted">or</span>
                        </div>

                        <!-- Search Bar -->
                        <h5 class="text-left">Recipe Search</h5>
                        <div class="input-group mb-3 w-100">
                            <input type="text" id="search-input" class="form-control" placeholder="What are you looking for?">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="button" id="search-button">Search</button>
                                <button class="btn btn-outline-secondary" type="button" id="clear-search">X</button>
                            </div>
                        </div>

                        <ul id="search-results-list" class="list-group w-100">
                            <!-- Search results will be displayed here -->
                        </ul>

                        <ul id="find-results-list" class="list-group w-100 mb-3">
                            <!-- Results from Find Recipes will be displayed here -->
                        </ul>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <section class="intro text-center">
        <img class="index-image img-fluid" src="{% static 'images/calum-lewis-rkT_TG5NKF8-unsplash.jpg' %}" alt="A kitchen table with various baking ingredients" style="margin-top: 40px;">
        <h2>Welcome to We Need To Cook!</h2>
        <p>You give ingredients, we give recipes!</p>
        <p>
            With a list of ingredients that you already have, we will provide you with amazing recipes!<br>
            You can specify ingredients you must include and those you want to avoid.<br>
            Save your favorite recipes and navigate to the favorites page.
        </p>
    </section>
</main>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        // Fetch saved preferences on page load
        $.get('{% url "get_preferences" %}', function(data) {
            data.whitelist.forEach(addWhitelistIngredient);
            data.blacklist.forEach(addBlacklistIngredient);
        });

        // Save preferences to the server
        function savePreferences() {
            var whitelist = [];
            $('.whitelist-tag').each(function() {
                whitelist.push($(this).data('ingredient'));
            });
            
            var blacklist = [];
            $('.blacklist-tag').each(function() {
                blacklist.push($(this).data('ingredient'));
            });

            $.ajax({
                url: '{% url "save_preferences" %}',
                method: 'POST',
                data: JSON.stringify({
                    'whitelist': whitelist,
                    'blacklist': blacklist
                }),
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                contentType: 'application/json',
                success: function(response) {
                    console.log('Preferences saved:', response);
                }
            });
        }

        // Search and Find Recipes Function
        function fetchRecipes(query, useWhitelist = false) {
            var blacklist = [];
            $('.blacklist-tag').each(function() {
                blacklist.push($(this).data('ingredient'));
            });

            var whitelist = [];
            $('.whitelist-tag').each(function() {
                whitelist.push($(this).data('ingredient'));
            });

            // If the query is empty and useWhitelist is true, use whitelist ingredients as the search query
            if (!query && useWhitelist && whitelist.length > 0) {
                query = whitelist.join(', ');  // Use whitelisted ingredients as query
            }

            $.ajax({
                url: '{% url "recipe_search" %}',
                data: {
                    'term': query,
                    'blacklist': JSON.stringify(blacklist),
                    'whitelist': JSON.stringify(whitelist)
                },
                dataType: 'json',
                success: function(data) {
                    $('#search-results-list').empty();

                    if (data.recipes.length > 0) {
                        var recipeDetailUrl = "{% url 'recipe_detail' id=0 %}";
                        recipeDetailUrl = recipeDetailUrl.replace('0/', '');

                        for (var i = 0; i < data.recipes.length; i++) {
                            var title = data.recipes[i].title;
                            var id = data.recipes[i].id;
                            var highlightedTitle = title.replace(new RegExp(query, 'gi'), (match) => `<span class="highlight">${match}</span>`);
                            var listItem = `<li class="list-group-item">
                                <a href="${recipeDetailUrl}${id}/" class="recipe-link">
                                    <i class="fa fa-book"></i> ${highlightedTitle}
                                </a>
                            </li>`;
                            $('#search-results-list').append(listItem);
                        }
                    } else {
                        $('#search-results-list').append('<li class="list-group-item no-hover no-active">No results found</li>');
                    }
                }
            });
        }

        // Helper functions to add ingredients to the whitelist and blacklist
        function addWhitelistIngredient(ingredient) {
            if (ingredient && !$('.whitelist-tag[data-ingredient="' + ingredient + '"]').length) {
                var tag = $('<span class="badge badge-success whitelist-tag mr-2" data-ingredient="' + ingredient + '">' + 
                            ingredient + '</span>');
                tag.on('click', function() {
                    $(this).remove();
                    savePreferences();
                });
                $('#whitelist-container').append(tag);
                $('#new-whitelist-input').val('');  
            }
        }

        function addBlacklistIngredient(ingredient) {
            if (ingredient && !$('.blacklist-tag[data-ingredient="' + ingredient + '"]').length) {
                var tag = $('<span class="badge badge-danger blacklist-tag mr-2" data-ingredient="' + ingredient + '">' + 
                            ingredient + '</span>');
                tag.on('click', function() {
                    $(this).remove();
                    savePreferences();
                });
                $('#blacklist-container').append(tag);
                $('#new-blacklist-input').val('');
            }
        }

        // Event listeners for adding ingredients to the lists
        $('#add-whitelist').on('click', function() {
            var ingredient = $('#new-whitelist-input').val().trim();
            addWhitelistIngredient(ingredient);
            savePreferences();
        });

        $('#add-blacklist').on('click', function() {
            var ingredient = $('#new-blacklist-input').val().trim();
            addBlacklistIngredient(ingredient);
            savePreferences();
        });

        $('.common-ingredient-btn').on('click', function() {
            var ingredient = $(this).data('ingredient');
            var mode = $('#quick-add-mode').prop('checked') ? 'whitelist' : 'blacklist';

            if (mode === 'whitelist') {
                addWhitelistIngredient(ingredient);
            } else {
                addBlacklistIngredient(ingredient);
            }
            savePreferences();
        });

        // Search and Find Recipes button event listeners
        $('#search-button').on('click', function() {
            var query = $('#search-input').val();
            fetchRecipes(query);
        });

        $('#clear-search').on('click', function() {
            $('#search-input').val('');
            $('#search-results-list').empty();
        });

        $('#find-recipes-button').on('click', function() {
            fetchRecipes('', true);
        });
    });
</script>
{% endblock %}
