annotated-types==0.7.0
anyio==4.6.2.post1
asgiref==3.8.1
astroid==2.15.8
certifi==2024.8.30
charset-normalizer==3.4.0
click==8.1.7
distro==1.9.0
Django==5.1.1
flake8==6.1.0
gyp==0.1
h11==0.14.0
httpcore==1.0.6
httpx==0.27.2
idna==3.10
inflect==7.4.0
iniconfig==2.0.0
jiter==0.7.0
junit-xml==1.8
lazy-object-proxy==1.10.0
linkify-it-py==2.0.3
markdown-it-py==3.0.0
mccabe==0.7.0
mdit-py-plugins==0.4.2
mdurl==0.1.2
more-itertools==10.5.0
mutmut==3.2.1
openai==1.54.3
packaging==24.2
parso==0.8.4
pillow==10.4.0
platformdirs==4.3.6
pluggy==1.5.0
pycodestyle==2.11.1
pydantic==2.9.2
pydantic_core==2.23.4
pyflakes==3.1.0
Pygments==2.18.0
pytest==8.3.3
pytz==2024.1
requests==2.32.3
rich==13.9.4
setproctitle==1.3.3
setuptools==68.1.2
six==1.16.0
sniffio==1.3.1
sqlparse==0.4.4
supervisor==4.2.5
textual==0.85.2
tqdm==4.67.0
typeguard==4.4.0
typing_extensions==4.12.2
uc-micro-py==1.0.3
urllib3==2.2.3
wheel==0.42.0
wrapt==1.16.0
