/* static colors */
:root {
  --color-white: #fff;
  --color-black: #000;
  --color-primary-peach: #c96868;
  --color-secondary-yellow: #fadfa1;
  --color-beige: #fff4ea;
  --color-light-blue: #7eacb5;
  --color-dark: #333;
}

/* fill viewport  */
.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  font-family: Arial, sans-serif;
  background-color: var(--color-beige);
  color: var(--color-dark);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Header classes */
header.main-header {
  background: linear-gradient(
    45deg,
    var(--color-secondary-yellow),
    var(--color-primary-peach)
  );
  color: var(--color-dark);
  padding: 2px 20px;
  text-align: left;
  word-spacing: -6px;
}

/* Navbar classes */
nav.navbar {
  background-color: var(--color-dark);
  color: var(--color-beige);
  padding: 10px 20px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

nav.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

nav.navbar ul li {
  margin: 0;
}

nav.navbar ul li a {
  color: var(--color-beige);
  text-decoration: none;
  padding: 5px 10px;
}

nav.navbar ul li a:hover {
    color: var(--color-primary-peach);
}

/* Media query for navbar on small screens */
@media (max-width: 768px) {
  nav.navbar ul {
    flex-direction: column;
    align-items: center;
  }

  nav.navbar ul li {
    width: 100%;
    text-align: center;
  }
}

/* Main content classes */
main {
  flex: 1;
  margin: 0;
  padding: 20px 0;
  text-align: center;
  background-color: transparent;
  color: var(--color-dark);
}

.index-image {
  width: 300px;
  height: auto;
  border-radius: 5%;
  border: 4px solid var(--color-dark);
}

/* wanted to test sticky navbar */
.remove-later {
    padding-top: 100vh;
}
/* Footer classes  */
footer {
  text-align: center;
  font-size: 0.8em;
  background-color: var(--color-dark);
  color: var(--color-beige);
  padding: 10px 0;
  width: 100%;
  box-sizing: border-box;
  margin-top: auto;
  align-items: center;
  justify-content: center;
}

footer .navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

footer .navbar-text {
  padding: 0 20px;
}

.github-icon i {
  color: var(--color-beige);
}

.github-icon i:hover {
  color: var(--color-primary-peach);
}

/* Recipe Search classes */
.list-group-item {
  display: flex;
  align-items: left;
  color: var(--color-dark);
}

.list-group-item.active {
  background-color: var(--color-secondary-yellow);
  color: var(--color-dark);
}

.blacklist-tag {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
}
#blacklist-container {
  margin-bottom: 15px;
}
.badge-danger .close {
  color: white;
  opacity: 1;
  font-size: 16px;
  font-weight: normal;
  padding-left: 5px;
}

#search-form {
  width: 100%; /* Ensure the form takes up the full width of its container */
}

#search-input {
  width: 40%; /* Ensure the input takes up the full width of the form */
  padding: 10px;
  font-size: 16px;
}

#search-input:focus {
  outline: none; /* Remove the default outline */
  box-shadow: 0 0 0 2px var(--color-primary-peach); /* Custom focus outline */
  border-color: var(--color-primary-peach); /* Change border color on focus */
}

#results-list {
  list-style-type: none;
  padding: 0;
  margin-top: 10px;
  max-height: 200px;
  overflow-y: auto;
  margin-bottom: 20px; /* Added margin-bottom to create space below the results */
  width: 100%; /* Ensure the results list takes up the full width of its container */
}

#results-list::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

#results-list::-webkit-scrollbar-track {
  background: var(--color-beige); /* Background of the scrollbar track */
}

#results-list::-webkit-scrollbar-thumb {
  background-color: var(--color-primary-peach); /* Color of the scrollbar thumb */
  border-radius: 10px; /* Roundness of the scrollbar thumb */
  border: 2px solid var(--color-beige); /* Padding around the scrollbar thumb */
}

#results-list::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-dark); /* Color of the scrollbar thumb on hover */
}

#results-list li {
  padding: 10px;
  background-color: var(--color-white);
  margin-bottom: 5px;
  cursor: pointer;
  width: 100%; /* Ensure the list items take up the full width of the results list */
  display: flex;
  border: var(--color-black) 1px solid;
  align-items: left;
}

#results-list li:hover {
  background-color: var(--color-light-blue);
  color: var(--color-beige);
}

#results-list li:active {
  background-color: var(--color-dark);
  color: var(--color-beige);
}

#results-list li i {
  margin-right: 10px;
}

/* Custom styles for the clear search button */
#clear-search {
  color: var(--color-primary-peach);
  border-color: var(--color-primary-peach);
}

#clear-search:hover {
  background-color: var(--color-primary-peach);
  color: var(--color-white);
}

#clear-search:active {
  background-color: var(--color-dark);
  color: var(--color-white);
}

/* Highlighted text for search matches */
.highlight {
  background-color: var(--color-secondary-yellow);
  color: var(--color-dark);
  font-weight: bold;
  display: inline-block; /* Ensure the highlighted text maintains its spacing */
}

/* Remove hover and active styles for no-hover and no-active classes */
.no-hover:hover {
  background-color: var(--color-white) !important; /* Override hover background color */
  color: var(--color-dark) !important; /* Override hover text color */
}

.no-active:active {
  background-color: var(--color-white) !important;/* Override active background color */
  color: var(--color-dark) !important; /* Override active text color */
}

/* Media query for responsive design */
@media (max-width: 768px) {
  #search-form {
    margin: 10px;
  }

  #search-input {
    font-size: 14px;
    padding: 8px;
  }

  #results-list li {
    padding: 8px;
    font-size: 14px;
  }
}
