/* static colors */
:root {
  --color-white: #fff;
  --color-black: #000;
  --color-primary-peach: #c96868;
  --color-secondary-yellow: #fadfa1;
  --color-beige: #fff4ea;
  --color-light-blue: #7eacb5;
  --color-dark: #333;

  --calBgColor: #fff1f8;
  --eventBorderColor: #f2d3d8;
  --eventColor1: #ffd6d1;
  --eventColor2: #fafaa3;
  --eventColor3: #e2f8ff;
  --eventColor4: #d1ffe6;
  --cardBgColor: #f9f9f9; /* New color for card-like cells */
  --btnBgColor: #007bff;
  --btnHoverBgColor: #0056b3;
  --btnTextColor: #fff;
}

/* fill viewport  */
.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  font-family: Arial, sans-serif;
  background-color: var(--color-beige);
  color: var(--color-dark);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Message styles */
.messages {
  margin: 20px auto; /* Center the messages horizontally */
  width: 80%; /* Set the width of the messages container */
  max-width: 600px; /* Set a maximum width for the messages container */

}

.alert {
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.alert-success {
  background-color: #d4edda;
  color: #155724;
  border: 1px solid #c3e6cb;
}

.alert-error {
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
}

/* Center block content of any children */
.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

/* Header classes */
header.main-header {
  background: linear-gradient(
    45deg,
    var(--color-secondary-yellow),
    var(--color-primary-peach)
  );
  color: var(--color-dark);
  padding: 10px 20px;
  display: flex;
  justify-content: left;
  align-items: left;
}

.header-content {
  display: flex;
  align-items: center;
}

.header-content .logo {
  margin-right: 10px;
}

.main-header-title {
  margin: 0;
  font-size: 2.5em;
  word-spacing: -0.6rem; 
  color: var(--color-dark);
}

.main-header-title a {
  text-decoration: none; /* Remove underline from the link */
}

/* Navbar classes */
nav.navbar {
  background-color: var(--color-dark);
  color: var(--color-beige);
  padding: 10px 20px;
  position: sticky;
  flex-direction: row;
  top: 0;
  z-index: 1000;
}

nav.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

nav.navbar ul li {
  margin: 0;
}

nav.navbar ul li a {
  color: var(--color-beige);
  text-decoration: none;
  padding: 5px 10px;
}

nav.navbar ul li a:hover {
  color: var(--color-primary-peach);
}

/* Dropdown menu styles */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  background-color: var(--color-dark);
  color: var(--color-beige);
  padding: 5px 10px;
  border: none;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--color-dark);
  min-width: 160px;
  box-shadow: var(--color-black) var(--color-black) 0 0 10px;
  z-index: 1;
}

.dropdown-content a,
.dropdown-content form {
  color: var(--color-beige);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover,
.dropdown-content form:hover {
  background-color: var(--color-primary-peach);
  color: var(--color-black) !important; /* Text turns black on hover */
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  color: var(--color-primary-peach); /* Only the text color changes */
}

/* Style for the logout button to look like a link */
.dropdown-logout {
  background: none;
  border: none;
  color: var(--color-beige);
  padding: 0;
  font: inherit;
  cursor: pointer;
  text-align: left;
  width: 100%;
}

.dropdown-logout:hover {
  background-color: var(--color-primary-peach);
  color: var(--color-black); /* Text turns black on hover */
}

/* Media query for navbar on small screens */
@media (max-width: 768px) {
  nav.navbar ul {

    flex-direction: row;
    align-items: center;
  }

  /* Media query for navbar on small screens */
@media (max-width: 576px) {
  nav.navbar ul {
    flex-direction: row;
    align-items: center;
  }

  nav.navbar ul li {
    width: 100%;
    text-align: center;
  }
}

  nav.navbar ul li {
    width: 100%;
    text-align: center;
  }
}

/* Main content classes */
main {
  flex: 1;
  margin: 0;
  padding: 20px 0;
  text-align: center;
  background-color: transparent;
  color: var(--color-dark);
}

.index-image {
  width: 300px;
  height: auto;
  border-radius: 5%;
  border: 4px solid var(--color-dark);
}

/* wanted to test sticky navbar */
.remove-later {
  padding-top: 100vh;
}

/* Footer classes  */
footer {
  text-align: center;
  font-size: 0.8em;
  background-color: var(--color-dark);
  color: var(--color-beige);
  padding: 10px 0;
  width: 100%;
  box-sizing: border-box;
  margin-top: auto;
  align-items: center;
  justify-content: center;
}

footer .navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

footer .navbar-text {
  padding: 0 20px;
}

.github-icon i {
  color: var(--color-beige);
}

.github-icon i:hover {
  color: var(--color-primary-peach);
}

/* Recipe Search classes */
.list-group-item {
  display: flex;
  align-items: left;
  color: var(--color-dark);
}

.list-group-item.active {
  background-color: var(--color-secondary-yellow);
  color: var(--color-dark);
}

#search-form {
  width: 100%; /* Ensure the form takes up the full width of its container */
}

#search-input {
  width: 40%; /* Ensure the input takes up the full width of the form */
  padding: 10px;
  font-size: 16px;
}

#search-input:focus {
  outline: none; /* Remove the default outline */
  box-shadow: 0 0 0 2px var(--color-primary-peach); /* Custom focus outline */
  border-color: var(--color-primary-peach); /* Change border color on focus */
}

#results-list {
  list-style-type: none;
  padding: 0;
  margin-top: 10px;
  max-height: 200px;
  overflow-y: auto;
  margin-bottom: 20px; /* Added margin-bottom to create space below the results */
  width: 100%; /* Ensure the results list takes up the full width of its container */
}

#results-list::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

#results-list::-webkit-scrollbar-track {
  background: var(--color-beige); /* Background of the scrollbar track */
}

#results-list::-webkit-scrollbar-thumb {
  background-color: var(--color-primary-peach); /* Color of the scrollbar thumb */
  border-radius: 10px; /* Roundness of the scrollbar thumb */
  border: 2px solid var(--color-beige); /* Padding around the scrollbar thumb */
}

#results-list::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-dark); /* Color of the scrollbar thumb on hover */
}

#results-list li {
  padding: 10px;
  background-color: var(--color-white);
  margin-bottom: 5px;
  cursor: pointer;
  width: 100%; /* Ensure the list items take up the full width of the results list */
  display: flex;
  border: var(--color-black) 1px solid;
  align-items: left;
}

#results-list li:hover {
  background-color: var(--color-light-blue);
  color: var(--color-beige);
}

#results-list li:active {
  background-color: var(--color-dark);
  color: var(--color-beige);
}

#results-list li i {
  margin-right: 10px;
}

.recipe-link {
  color: var(--color-dark); /* Set the link color to match the text color */
  text-decoration: none; /* Remove the underline from the link */
}

.recipe-link:hover {
  color: var(--color-primary-peach); /* Change color on hover */
  text-decoration: underline; /* Add underline on hover */
}

/* Blacklist classes */
.blacklist-tag {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
}
#blacklist-container {
  margin-bottom: 15px;
}
.badge-danger .close {
  color: white;
  opacity: 1;
  font-size: 16px;
  font-weight: normal;
  padding-left: 5px;
}

#search-form {
  width: 100%; /* Ensure the form takes up the full width of its container */
}

#search-input {
  width: 40%; /* Ensure the input takes up the full width of the form */
  padding: 10px;
  font-size: 16px;
}

#search-input:focus {
  outline: none; /* Remove the default outline */
  box-shadow: 0 0 0 2px var(--color-primary-peach); /* Custom focus outline */
  border-color: var(--color-primary-peach); /* Change border color on focus */
}

/* Custom styles for the clear search button */
#clear-search {
  color: var(--color-primary-peach);
  border-color: var(--color-primary-peach);
}

#clear-search:hover {
  background-color: var(--color-primary-peach);
  color: var(--color-white);
}

#clear-search:active {
  background-color: var(--color-dark);
  color: var(--color-white);
}

#new-blacklist-input:focus {
  outline: none; /* Remove the default outline */
  box-shadow: 0 0 0 2px var(--color-primary-peach); /* Custom focus outline */
  border-color: var (--color-primary-peach); /* Change border color on focus */
}

/* Highlighted text for search matches */
.highlight {
  background-color: var(--color-secondary-yellow);
  color: var(--color-dark);
  font-weight: bold;
  display: inline-block; /* Ensure the highlighted text maintains its spacing */
}

/* Remove hover and active styles for no-hover and no-active classes */
.no-hover:hover {
  background-color: var(--color-white) !important; /* Override hover background color */
  color: var(--color-dark) !important; /* Override hover text color */
}

.no-active:active {
  background-color: var(--color-white) !important;/* Override active background color */
  color: var(--color-dark) !important; /* Override active text color */
}

/* Media query for responsive design */
@media (max-width: 768px) {
  #search-form {
    margin: 10px;
  }

  #search-input {
    font-size: 14px;
    padding: 8px;
  }

  #results-list li {
    padding: 8px;
    font-size: 14px;
  }
}

/* Bootstrap card recipes */
.card {
  border: 3px solid var(--color-light-blue);
  border-radius: 5%;
  overflow: hidden; /* Ensure the image respects the rounded corners */
  transition: transform 0.3s, box-shadow 0.3s, border-color 0.3s;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  border-color: var(--color-primary-peach);
}

.card-img-top {
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
}

.card-title {
  color: var(--color-dark);
}

.card-text {
  color: var(--color-dark);
}

.card-footer {
  background-color: var(--color-beige);
  border-top: 2px solid var(--color-light-blue);
  border-bottom-left-radius: 5%;
  text-align: left;
  border-bottom-right-radius: 5%;
}

/* Tag button styles */
.tag-button {
  margin: 2px;
  background-color: var(--color-light-blue);
  border: none;
  color: var(--color-white);
  transition: background-color 0.3s, transform 0.3s;
}

.tag-button:hover {
  background-color: var(--color-primary-peach);
  transform: scale(1.1);
}

.tag-button:focus {
  background-color: var(--color-primary-peach) !important;
  outline: none;
}

/* media query for the recipe cards */
@media (max-width: 768px) {
  .card {
    margin: 10px;
  }
}

/* media query for the recipe cards */
@media (max-width: 576px) {
  .card {
    margin: 10px;
  }
}



/* Login page styles */
.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
  background-color: var(--color-beige);
}

.login-block {
  background-color: var(--color-white);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-block h1 {
  font-size: 1.5em;
  margin-bottom: 20px;
  color: var(--color-dark);
}

.form-group {
  margin-bottom: 15px;
}

.txt-password-reset {
  color: var(--color-primary-peach);
  font-size: small;
}

.txt-brand {
  color: var(--color-primary-peach);
}


.input-group {
  display: flex;
  align-items: center;
  border: 1px solid var(--color-dark);
  border-radius: 5px;
  overflow: hidden;
}

.input-group-addon {
  background-color: var(--color-light-blue);
  color: var(--color-white);
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-control {
  border: none;
  padding: 10px;
  flex: 1;
}

.btn-primary {
  background-color: var(--color-primary-peach);
  border: none;
  padding: 10px;
  color: var(--color-white);
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-primary:hover {
  background-color: var(--color-dark);
}

.login-links {
  margin-top: 20px;
}

.login-links p {
  color: var(--color-dark);
}

.login-links a {
  color: var(--color-primary-peach);
  text-decoration: none;
}

.login-links a:hover {
  text-decoration: underline;
}


/* Meal Planner Table */
.meal-plan-table-wrapper {
  margin-bottom: 20px; /* Add margin to the bottom of the table */
}

.meal-plan-table {
  width: 100%;
  border-collapse: collapse;
}

.meal-plan-table th,
.meal-plan-table td {
  border: 1px solid var(--calBgColor); /* Inverse table appearance */
  padding: 10px;
  text-align: center;
}

.meal-plan-table th {
  background-color: var(--eventColor1);
  color: var(--color-dark);
}

.meal-plan-table td {
  background-color: var(--cardBgColor); /* Card-like background color */
  color: var(--color-dark);
  border-radius: 5px; /* Rounded corners for card-like appearance */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for card-like appearance */
  transition: background-color 0.3s, box-shadow 0.3s; /* Smooth transition for hover effects */
}

.meal-plan-table td:hover {
  background-color: var(--eventColor3); /* Change background color on hover */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Increase shadow on hover */
}

.rotate {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
}

.meal-cell {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px; /* Adjust height as needed */
}

.meal-card {
  background-color: var(--cardBgColor);
  border: 1px solid var(--eventBorderColor);
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.remove-recipe {
  background: none;
  border: none;
  color: var(--color-dark);
  font-size: 1.2em;
  cursor: pointer;
  margin-left: 10px;
}

.remove-recipe:hover {
  color: var(--color-primary-peach);
}

/* Global / Etc */

.btn-plan {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: var(--color-primary-peach);
  border: none;
  padding: 10px;
  color: var(--color-white);
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-plan:hover {
  background-color: var(--color-dark);
}